<!DOCTYPE html>
<html>

<head>
  {{> head}}
</head>

<body>
  <div id="wrapper">
    {{> navbar}}
    <main class="container">
      {{{body}}}
    </main>
    <footer>
      {{> footer}}
    </footer>
  </div>
  {{>scripts}}
</body>

</html>
