<div class="top">
  <h1 id="title">{{title}}</h1>
  {{#if user}}
    <hr>
    <h2>Your Saved Votes</h2>
    <div class="profile-settings">
      <div class="toggle-profile">
        <p class="privacy-text">Private</p>
        <label class="switch">
          <input id="privacyToggle" type="checkbox" {{#if user.profilePublic}} checked {{/if}}>
          <span class="slider round"></span>
        </label>
        <p class="privacy-text">Public</p>
      </div>
      <div class="copy-section" id="copy-section" {{#if user.profilePublic}} {{else}} style="display:none" {{/if}}>
        <input type="text" class="code-name" id="code-name" readonly="readonly" value="http://votersguide.co/friend/{{user.codeName}}">
        <button class="copy-btn anim-hov-fast" onClick="copyText('code-name')">Copy</button>
      </div>
    </div>
  {{else}}
    <h2>For SF Residents</h2>
    <p class="subheader-description">People often skip voting for propositions
      because they don't know enough about them. We've extracted the main information below.
    </p>
    <p class="signup-button-text">Sign up to save your votes and optionally share w/ friends</p>
    <a href="/signup"><button class="btn signup-btn" type="button">Sign Up</button></a>
    <hr>
  {{/if}}
</div>
{{> props}}
<script src="/js/props.js"></script>
<script>
  var privacyToggle = document.getElementById("privacyToggle");

  privacyToggle.addEventListener("click", function() {
    if (privacyToggle.checked == true) {
      document.getElementById('copy-section').style.display = "";
      // axios.post('/toggle-privacy');
      axios.post('/toggle-privacy', {
        profilePublic: true
      }).catch(error => {
        console.error(error);
      });
    } else {
      document.getElementById('copy-section').style.display = "none";
      axios.post('/toggle-privacy', {
        profilePublic: false
      }).catch(error => {
        console.error(error);
      });
    }
  });
</script>
