<div class="top">
  <h1>{{title}}</h1>
  <p>People are busy. People often don't vote for propositions
    because they don't know what they're about. We've synthesized
    the important information below.</p>
    <p>{{#if user}}
      {{user.profilePublic}}
      {{user.codeName}}
    {{/if}}</p>
</div>

{{> props}}
