<div class="top">
  {{#if user}}
    {{#if user.profilePublic}}
      <h1>{{user.name}}'s Votes</h1>
      {{> props}}
    {{else}}
      <h1>Nothing to see here.</h1>
      <p>This user has decided to keep their votes private.</p>
    {{/if}}
  {{/if}}
</div>

<script src="/js/props.js"></script>
