{{#if user}}
  {{#if user.profilePublic}}
    <div class="top">
      <h1>{{user.name}}'s Votes</h1>
    </div>
    {{> props}}
  {{else}}
    <div class="top">
      <h1>Nothing to see here.</h1>
      <p>This user has decided to keep their votes private.</p>
    </div>
  {{/if}}
{{/if}}


<script src="/js/props.js"></script>
