body {
  background-color: #8A8A8A; }
  body nav {
    background-color: #1C1C1C; }
    body nav .navbar-brand a {
      font-weight: 800;
      color: #F5F5F5;
      letter-spacing: 1.5px; }
  body .container {
    padding: 0px; }
    body .container .top {
      margin-top: 1.2em;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .container .top h1, body .container .top p {
        color: #1C1C1C;
        font-family: 'IBM Plex Sans', sans-serif; }
      body .container .top h1 {
        font-size: 2.2em;
        font-weight: 800; }
      body .container .top p {
        padding: 0px 8px;
        font-size: 0.93rem;
        margin-bottom: .8rem; }
      body .container .top button {
        font-family: 'IBM Plex Sans', sans-serif;
        background-color: #1C1C1C;
        color: #F5F5F5;
        border: none;
        margin-bottom: 1.2rem;
        letter-spacing: 1px;
        padding: 4px 20px; }
    body .container .all-props-container .card-deck .prop-title {
      font-family: 'IBM Plex Sans', sans-serif;
      color: #1C1C1C;
      text-align: center; }
      body .container .all-props-container .card-deck .prop-title h3 {
        font-size: 1.0em;
        font-weight: 600;
        line-height: 1em;
        padding: 0px;
        margin: 0em .5em; }
      body .container .all-props-container .card-deck .prop-title a {
        font-size: .9em; }
    body .container .all-props-container .card-deck .pros-and-cons-container {
      display: flex;
      overflow-x: scroll; }
      body .container .all-props-container .card-deck .pros-and-cons-container .card {
        font-family: 'IBM Plex Sans', sans-serif;
        min-width: 280px;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3); }
        body .container .all-props-container .card-deck .pros-and-cons-container .card .card-header {
          padding: .5rem .5rem;
          font-size: .9em; }
        body .container .all-props-container .card-deck .pros-and-cons-container .card .card-body ul {
          padding: .1em .2em .1em 1.3em;
          margin: 5px 0px 5px 0px; }
      body .container .all-props-container .card-deck .pros-and-cons-container .card.card__pros {
        border: 4px solid #0D56D9; }
        body .container .all-props-container .card-deck .pros-and-cons-container .card.card__pros .card-header {
          text-align: right;
          padding-right: 1em; }
        body .container .all-props-container .card-deck .pros-and-cons-container .card.card__pros .card-body {
          padding: .25em .0em .25em .25em; }
      body .container .all-props-container .card-deck .pros-and-cons-container .card.card__cons {
        border: 4px solid #FF0000; }
        body .container .all-props-container .card-deck .pros-and-cons-container .card.card__cons .card-header {
          text-align: left;
          padding-left: 1em; }
        body .container .all-props-container .card-deck .pros-and-cons-container .card.card__cons .card-body {
          padding: .25em .25em .25em 0em; }

/*# sourceMappingURL=style.css.map */
