$black: #1C1C1C;
$mid-grey: #636e72;
$light-grey: #cac9c8;
$white-grey: #F5F5F5;
$green: #5cb85c;
$red: #d9534f;

.anim-hov-fast {
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}
