<div class="container">
  <form action="/login" method="post" class="center_div">
    <h1>Log In</h1>
    <p class="helper-text">You must log in to save your votes</p>

    <div class="form-group">
      <label for="user-email" style="display:none">Email</label>
      <input type="email" name="email" class="form-control" id="user-email" placeholder="email">
    </div>

    <div class="form-group">
      <label for="user-password" style="display:none">Password</label>
      <input type="password" name="password" class="form-control" id="user-password" placeholder="password">
    </div>

    <input type="hidden" name="destinationUrl" value="{{destinationUrl}}">

    <div class="text-left">
      <button type="submit" class="btn btn-dark">Log In</button>
    </div>

    <div class="helper-text">
      Don't have an account? <a href="/signup">Sign up</a>.
    </div>
  </form>
</div>
